html {
  background-color: #f1d6f9;
  text-align: center;
}

p {
  font-size: 15pt;
}

.title {
  color: rgb(0, 0, 0);
  text-decoration: solid;
  text-align: center;
  font-size: 20pt;
  font-weight: 800;
}

.output {
  padding: 14px;
  background-color: rgb(188, 144, 224);
  border-radius: 5px;
  font-size: 14pt;
  text-align: center;
  border: 5px solid;
  border-color: #931ab5;
}

.button {
  text-decoration: none;
  background-color: #9e22c1;
  color: rgb(249, 249, 249);
  font-size: 13pt;
  padding: 15px;
  border-radius: 5pt;
  border: none;
  text-align: center;
  align-self: center;
  display: inline-block;
}